.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/**********************************/
/********* Bottom Bar CSS *********/
/**********************************/
.bottom-bar {
    padding: 15px 0;
    background: #ffffff;
    margin-bottom: 20px;
	width: 100%;
}

.bottom-bar .logo {
    text-align: left;
    overflow: hidden;
}

b{
    color: black;
    font-size: 35px;
}

.bottom-bar .search {
    width: 100%;
}

.first{
    color: #000080;
}
.bottom-bar .search input[type=text] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    color: #666666;
    border: 1px solid #000080;
    border-radius: 4px;
}

.bottom-bar .search button {
    position: absolute;
    width: 40px;
    height: 38px;
    top: 1px;
    right:16px;
    padding: 0 15px;
    border: none;
    background: none;
    color: #FF6F61;
    border-radius: 0 2px 2px 0;
}

.bottom-bar .search button:hover {
    background: #FF6F61;
    color: #ffffff;
}

.bottom-bar .user {
    font-size: 0;
    text-align: right;
}

.user{
    margin-right: 75px;
}

.bottom-bar .user .cart i,
.bottom-bar .user .wishlist i {
    color: #000080;
}

.bottom-bar .user .cart span {
    color: #FF6F61;
    font-size: 15px;
}

.cart{
    color:  #FF6F61; 
    border: 1px solid #000080;
    border-radius: 4px;
}
.cart:hover{
    background:rgb(0, 0, 200);
}
.bottom-bar .user .cart .fa:hover {
    color: #ffffff;
}
@media (min-width: 768px) {
    .bottom-bar {
        max-height: 90px;
    }
}

@media (max-width: 767.98px) {
    .bottom-bar .logo,
    .bottom-bar .search,
    .bottom-bar .user {
        text-align: center;
        margin-bottom: 15px;
    }
    
    .bottom-bar .user {
        margin-bottom: 0;
    }
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/

.nav {
    position: relative;
}

@media (min-width: 992px) {
    .nav .container-fluid {
        padding-left: 52px;
        padding-right: 52px;
    }
}

.nav .navbar {
    height: 100%;
    padding: 0;
}

.nav .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #FF6F61;
}

.nav .dropdown-menu a.active {
    color: #353535;
    background: #f8f9fa;
}

@media (min-width: 768px) {
    .nav,
    .nav .navbar {
        background: #FF6F61 !important;
    }
    
    .nav .navbar-brand {
        display: none;
    }
    
    .nav .navbar-dark a.nav-link {
        color: white;
        font-size: 14px;
        text-transform: uppercase;
    }
    
    .nav .navbar-dark a.nav-link:hover,
    .nav .navbar-dark a.nav-link.active {
        color: #000000;
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 5px 0;
    }
    
    .nav,
    .nav .navbar {
        background: #000000 !important;
    }
    
    .nav a.nav-link {
        padding: 5px 0;
    }
    
    .nav .dropdown-menu {
        box-shadow: none;
    }
}

.footer {
    position: relative;
    padding: 30px 0 0 10px;
    background: #000080;
	color: white;
}



